@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.custom-section {
    --primary-color: #ff014f;
    --text-dark: #222222;
    --white: #ffffff;
    --max-width: 1200px;
}
.custom-section * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-section ul {
    list-style: none;
}

.custom-section a {
    text-decoration: none;
    transition: 0.3s;
}

.custom-section body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(242, 238, 239);
    overflow-x: hidden;
}

.custom-section nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}
.custom-section .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}


.custom-section .nav__logo img {
    display: flex;
    max-width: 50px; /* Adjust the size as needed */
    width: 50px; /* Explicitly set width */
    height: 50px; /* Explicitly set height to match width */
    border-radius: 50%; /* Makes the image perfectly circular */
    object-fit: cover; /* Ensures the image fills the space without distortion */
}
