@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*Home Page Section Start*/
.custom-section {
    --primary-color: #ff014f;
    --text-dark: #222222;
    --white: #ffffff;
    --max-width: 1200px;

}
.custom-section * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-section ul {
    list-style: none;
}

.custom-section a {
    text-decoration: none;
    transition: 0.3s;
}

.custom-section body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(242, 238, 239);
    overflow-x: hidden;
}

.custom-section nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    z-index: 9;
}
.custom-section .nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}


.custom-section .nav__logo img {
    display: flex;
    max-width: 50px; /* Adjust the size as needed */
    width: 50px; /* Explicitly set width */
    height: 50px; /* Explicitly set height to match width */
    border-radius: 50%; /* Makes the image perfectly circular */
    object-fit: cover; /* Ensures the image fills the space without distortion */
}
.custom-section .nav__logo {
    overflow: hidden;
}

.custom-section .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.custom-section .nav__links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
}

.custom-section .nav__links.open {
    transform: translateY(0);
}

.custom-section .nav__links a {
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}

.custom-section .nav__links a:hover {
    color: var(--text-dark);
}

.custom-section .header__container {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;
    display: grid;
    gap: 2rem;
}

.custom-section .header__image {
    margin-top: 5rem;
    position: relative;
    isolation: isolate;
}

.custom-section .header__image::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 25rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #d7dbe6, -10px -10px 15px var(--white);
    z-index: -1;
}

.custom-section .header__image img {
    width: 100%;
    max-width: 550px;
    margin-inline: auto;
    display: flex;
}

.custom-section .header__content {
    padding-block: 2rem;
    text-align: center;
}
.custom-section .header__content h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
}
.custom-section .header__content h1 {
    margin-bottom: 2rem;
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4rem;
    color: var(--text-dark);
}

.custom-section .header__content h1 span {
    color: var(--primary-color);
}

.custom-section .header__content p {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: var(--text-dark);
}

.custom-section .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.custom-section .links h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
}

.custom-section .links ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*Neuromorphic Effect Added*/
.custom-section .links a {
    display: inline-block;
    padding: 16px 20px;
    font-size: 1.2rem;
    color: var(--text-dark);
    border-radius: 5px;
    box-shadow: 10px 10px 15px #d7dbe6, -10px -10px 15px var(--white);
}

.custom-section .links a:hover {
    color: var(--white);
    background-color: var(--primary-color);
}
@media (width>768px ) {
    .custom-section nav {
        position: static;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .custom-section .nav__header {
        padding: 0;
        background-color: transparent;
    }

    .custom-section .nav__logo img{
        max-width: 60px;
    }

    .custom-section .nav__menu__btn {
        display: none;
    }
    .custom-section .nav__links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3rem;
        background-color: transparent;
        transform: none;
    }




    .custom-section .nav__links a {
        color: var(--text-dark);
    }


    .custom-section .nav__links a:hover {
        color: var(--primary-color);
    }

    .custom-section .hire__me {
        padding: 1rem 1.5rem;
        border-radius: 5px;
        box-shadow: 10px 10px 15px #d7dbe6, -10px -10px 15px var(--white);
    }

    .custom-section .hire__me:hover {
        color: var(--white) !important;
        background-color: var(--primary-color);
    }

    .custom-section .header__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .custom-section .header__image {
        margin-top: 0;
        grid-area: 1/2/2/3;
    }
    .custom-section .header__content {
        padding-block: 1rem;
        text-align: left;
    }

    .custom-section .links {
        justify-content: flex-start;
    }

    .custom-section .links h4{
        text-align: left;
    }

}
/*Home Page Section End*/

/*Status Bar Section Start*/
.banner {
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: #171717;
    z-index: 1;

}
.banner__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}
.banner .wrapper {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}

.banner .container {
    flex: 1 1 calc(25% - 4rem);
    max-width: calc(25% - 4rem);
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: #060606;
    border-bottom: 10px solid rgba(225, 29, 70);
    text-align: center;
}
.banner i {
    color: rgba(225, 29, 70);
    font-size: 2.5em;
}

.banner span.num {
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

.banner span.text {
    color: #fff;
    font-size: 1.1em;
    padding: 0.7em 0;
    font-weight: 400;
    line-height: 1.2;
}
@media screen and (max-width: 1024px) {
    .banner__container {
        justify-content: center;
    }
    .banner .wrapper {
        justify-content: center;
    }
    .banner .container {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
        height: 30vmin;
    }
}
@media screen and (max-width: 768px) {
    .banner__container {
        justify-content: center;
    }
    .banner .wrapper {
        justify-content: center;
    }
    .banner .container {
        flex: 1 1 100%;
        max-width: 80%;
        height: 35vmin;
    }
}

@media screen and (max-width: 480px) {
    .banner .wrapper {
        gap: 15px;
    }
    .banner .container {
        width: 100%;
        height: 25vmin;
        font-size: 8px;
    }
}
/*Status Bar Section End*/

/*About Me Sction Start*/
.unique-section * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.unique-section body{
    font-family: 'Poppins', sans-serif;

}

.unique-section .about-wrapper {
    height: 100vh;
}
.unique-section .about-left {
    background: rgba(225, 29, 70);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.unique-section .about-left-content > div {
    background: rgba(225, 29, 70);
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.unique-section .about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}

/*About Me Section End*/






